/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width:  100%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse{
  color: #26a69a;
}

.parallax-container {
  min-height: 520px;
  height: auto;
  line-height: 0;
  color: rgba(255,255,255,.9);
}

.full-page{
  min-height: 520px;
  height: 100%;
}

.center-all{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.content-description{
  padding: 0 3rem !important;
  font-size: x-large;
}

.content-title{
  font-weight: 400;
}

.content-button{
  font-weight: 400;
  font-size: larger;
  margin-top: 30px;
}
.parallax-container .section {
    width: 100%;
}

.menu-item{
  color: #fff;
  font-size: 18px !important;
  margin-bottom: 7px;
}

footer.page-footer{
  padding: 0;
}

footer.page-footer .footer-copyright{
  min-height: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
  }
  #index-banner .section {
    top: 10%;
  }

  .content-description{
  padding: 0 1rem !important;
  font-size: 22px;
}
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .content-description{
  padding: 0 1rem !important;
  font-size: 20px;
}
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}